@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../../static/fonts/source-sans-pro-v13-cyrillic_latin-regular.woff2')
      format('woff2'),
    url('../../static/fonts/source-sans-pro-v13-cyrillic_latin-regular.woff')
      format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('../../static/fonts/source-sans-pro-v13-cyrillic_latin-600.woff2')
      format('woff2'),
    url('../../static/fonts/source-sans-pro-v13-cyrillic_latin-600.woff')
      format('woff');
}
