body {
  margin: 0;
  padding: 0;
}

:focus {
  outline: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

form {
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

b,
strong {
  font-weight: 600;
  color: var(--color-black);
}
