@import './reset.scss';
@import './fonts.scss';
@import './vars.scss';

body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 991.98px) {
    --font-size: 15px;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  color: var(--heading-color);
}

p {
  margin: 20px 0;

  @media (max-width: 1199.98px) {
    margin: 15px 0;
  }
}

img {
  width: 100%;
  height: auto;
}

.icon-in-circle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(
    180deg,
    var(--color-light-orange) 0%,
    var(--color-orange) 100%
  );
  transition: all 0.25s ease;

  @media (max-width: 767.98px) {
    width: 35px;
    height: 35px;
  }

  &:hover {
    background-image: linear-gradient(180deg, #ffbe52 0%, #ff8734 100%);
    box-shadow: 0 0 2px 0 rgba(255, 163, 20, 0.5), 0 0 8px 0 #ffcf84;
  }

  svg {
    @media (max-width: 767.98px) {
      width: 17.5px;
      height: 17.5px;
    }
  }
}
