@import './reset.scss';
@import './fonts.scss';
@import './vars.scss';

body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media (max-width: 991.98px) {
    --font-size: 15px;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  color: var(--heading-color);
}

p {
  margin: 20px 0;

  @media (max-width: 1199.98px) {
    margin: 15px 0;
  }
}

img {
  width: 100%;
  height: auto;
}
