// FONTS
:root {
  --font-size: 18px;
  --font-family: 'Source Sans Pro', -apple-system, SF Pro Text, SF UI Text,
    system-ui, Helvetica Neue, Helvetica, Arial, sans-serif;
  --line-height: 1.27;
  --text-color: var(--color-from-hell);
}

// COLORS
:root {
  --color-white: #ffffff;
  --color-light-orange: #ff972f;
  --color-orange: #f16922;
  --color-green: #40d62b;
  --color-brightest-grayish-blue: #f0f2fd;
  --color-lighten-grayish-blue: #ebeffc;
  --color-light-grayish-blue: #cfd4e9;
  --color-grayish-blue: #a1a8c2;
  --color-dark-blue: #0f2162;
  --color-from-hell: #666666;
  --color-dark-gray: #333333;
  --color-black: #000000;
}

// Recucle Animation
:root {
  --recucle-width: 470px;
  --recucle-height: 470px;
  --recucle-icon-width: 40.425%;
}

// Heading
:root {
  --heading-color: var(--color-black);
  --heading-font-weight: 600;
  --heading-line-height: 1.25;
}

// Media breakpoints
// :root {
//   --media-breakpoint-down-xs: 575.98px;
//   --media-breakpoint-down-md: 767.98px;
//   --media-breakpoint-down-lg: 991.98px;
//   --media-breakpoint-down-xl: 1199.98px;
//   --media-breakpoint-down-osx: 1439.98px;
//   --media-breakpoint-down-xxl: 1599.98px;
//   --media-breakpoint-down-fhd: 1919.98px;
// }
